body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #161623;
    font-family: 'Poppins', sans-serif;

    animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


a{
    text-decoration: none;
    color: black;
}


.hexagonArea .hexagon img{
    width: 100px;
}

.hexagonArea{
    display: flex;
    margin-bottom: 20px;
    
}

.hexagonArea .last{
    transform:translateY(-45px) ;
}
.hexagonArea .hexagon{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%, 50% 100%, 0 75%);
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;


}
.hexagonArea .hexagon h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.hexagonArea .hexagon img{
    width: 20px;
}

.hexagonArea .hexagon:hover{
    background: #fff;
    transform: scale(0.8);
}

input{
    padding: 2px;
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.container {
    max-height: 700px; /* Set the height to 600px */
    color: black;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    width: 0.5em;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    background: transparent;
}

.container:hover::-webkit-scrollbar-thumb {
    background: #888;
}

.container:hover::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Add this CSS rule to make the first row a different color */
.container table tr:first-child {
    background-color: crimson;
}

table{
    border-collapse: collapse;
   
}

table tr:nth-child(odd) {
    background-color: white;
}
table tr:nth-child(even) {
    background-color: silver;
}

.container table th, .container table td {
    padding: 20px 50px;
}

button{
    background: none;
    border: none;
}

img{
    width: 20px;
}

