<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hexagonArea first">
        <a href="/">
            <div class="hexagon">
                <img src="{{ url_for('static', filename='exit-icon.png') }}" alt="">
                <h3>Back</h3>
            </div>
        </a>
            <div class="hexagon" id="confirm-button">
                <img src="{{ url_for('static', filename='confirm-icon.png') }}" alt="">
                <h3>Confirm</h3>
            </div>
        </input>
    </div>
    <form method="POST" action="/addMovie" id="movie-form">
        <h3>Title</h3>
        <input type="text" name="title" id="title" required>
   
        <h3>Release Year</h3>
        <input type="text" name="yearReleased" id="yearReleased" required>

        <h3>Rating</h3>
        <select type="text" name="rating" id="rating" required> 
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="G">G</option>
            <option value="R">R</option>
            <option value="NC-17">NC-17</option>
        </select>

        <h3>Duration</h3>
        <input type="text" name="duration" id="duration" required>

        <h3>Genre</h3>
        <input type="text" name="genre" id="genre" required>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const confirmButton = document.getElementById("confirm-button");
            const form = document.getElementById("movie-form")
            confirmButton.addEventListener("click", function () {
                form.submit();
                });
        });
    </script>
</body>
</html>