<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='ammend.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hexagonArea first">
        <a href="/">
            <div class="hexagon">
                <img src="{{ url_for('static', filename='exit-icon.png') }}" alt="">
                <h3>Back</h3>
            </div>
        </a>
            <div class="hexagon" id="confirm-button">
                <img src="{{ url_for('static', filename='confirm-icon.png') }}" alt="">
                <h3>Confirm</h3>
            </div>
        </input>
    </div>
    <div class="container">
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Release Year</th>
                <th>Rating</th>
                <th>Duration</th>
                <th>Genre</th>
            </tr>
            <tr>
                <form method="POST" action="/ammendMovieById/{{data[0]}}" id="movie-form">
                    <td><input type="number" name="id" id="id" required value="{{ data[0] }}"></td>
                    <td><input type="text" name="title" id="title" required value="{{ data[1] }}"></td>
                    <td><input type="number" name="yearReleased" id="yearReleased" value="{{ data[2] }}" required></td>
                    <td><input type="text" name="rating" id="rating" value="{{ data[3] }}" required></td>
                    <td><input type="number" name="duration" id="duration" value="{{ data[4] }}"required></td>
                    <td><input type="text" name="genre" id="genre" value="{{ data[5] }}" required></td>
                </form>
            </tr>
        </table>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const confirmButton = document.getElementById("confirm-button");
            const form = document.getElementById("movie-form")
            confirmButton.addEventListener("click", function () {
                form.submit();
                });
        });
    </script>

</body>

</html>