<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="hexagonArea first">
            <a href="/addMovie">
                <div class="hexagon">
                    <img src="{{ url_for('static', filename='add-icon.png') }}" alt="">
                    <h3>add</h3>
                </div>
            </a>
            <a href="/deleteMovie">
                <div class="hexagon">
                <img src="{{ url_for('static', filename='delete-icon.png') }}" alt="">
                <h3>delete</h3>
            </a>
            </div>
            <div class="hexagon">
                <img src="{{ url_for('static', filename='change-icon.png') }}" alt="">
                <h3>ammend</h3>
            </div>
            <a href="/readMovie">
            <div class="hexagon">
                <img src="{{ url_for('static', filename='read-icon.png') }}" alt="">
                <h3>reports</h3>
            </div>
            </a>
        </div>
        <div class="hexagonArea last">
            <div class="hexagon">
                <img src="{{ url_for('static', filename='exit-icon.png') }}" alt="">
                <h3>Exit</h3>
            </div>
        </div>

    </div>
</body>
</html>